UID=1000
GID=1000
CUSTOM_USER=username
PASSWORD=securepassword
MT5_CMD_OPTIONS=/config:C:\\customized_for_tester_etc.ini


GITHUB_TOKEN=ghp_xxx
PRIVATE_GIT_REPO=github.com/DEIN_ORG/DEIN_PRIV_REPO.git
PRIVATE_GIT_REF=main

APP_ENTRY=main.py
# optional:
# APP_VENV_DIR=/config/app-venv-win
# APP_ENV_TEMPLATE=/config/app/.env.example