services:
  mt5:
    build: .
    image: gmag11/metatrader5_vnc
    container_name: mt5
    volumes:
      - ./config:/config
      _ ../TelegramSignalCopier:/app
    ports:
      - 3000:3000
    env_file:
      - .env

