services:
  mt5:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: 1.2.0
        BUILD_DATE: ${BUILD_DATE}

    container_name: mt5_1
    volumes:
      - ./config:/config
      - ../TelegramSignalCopier:/app
    ports:
      - 3000:3000
    env_file:
      - .env

